.hide {
    display: none;
}

.margin-y-10 {
    margin: 10px 0px;
}

.margin-x-10 {
    margin: 0px 10px;
}

.align-right{
    display: flex;
    flex-direction: row;
    justify-content: right;
}


/* hide slide navigation arrows */
.tparrows{
    display: none;
}
